.main .section1 {
    display: block;
    display: flex;
}

#box1:hover {
    border: 2px solid rgb(196, 196, 3);
}

.offer h5 {
    border: 1px solid brown;
    background-color: brown;
    color: white;
    height: max-content;
    width: fit-content;
    margin: 10px;
    padding: 5px;
    opacity: 100;
}

.section1 .arpa img {
    height: 20px;
    width: 20px;
    display: flex;
    margin-left: -30px;
    padding: 3px;
    border: 1px solid white;
    background-color: white;
    height: fit-content;
}

.section1 .arpa img:hover {
    background-color: blue;
    transition: blue, .5s;
    cursor: pointer;
    color: white;
}

.main .section1 .img_sec img {
    height: 200px;
    width: 200px;
}

.text_section {
    margin-top: 10px;
    margin-left: 10px;
}

.text_section p del {
    color: rgb(158, 158, 158);
}

#box1 {
    border: 2px solid rgb(238, 238, 238);
    background-color: rgb(238, 238, 238);
    height: 250px;
    width: 270px;
}

.main .section2 .img_sec img {
    height: 300px;
    width: 300px;
}

.text_section {
    margin-top: 10px;
    margin-left: 10px;
}

#box2 {
    border: 2px solid rgb(238, 238, 238);
    background-color: rgb(238, 238, 238);
    width: max-content;
}

.main .section3 .img_sec img {
    height: 300px;
    width: 300px;
}

.text_section {
    margin-top: 10px;
    margin-left: 10px;
}

#box3 {
    border: 2px solid rgb(238, 238, 238);
    background-color: rgb(238, 238, 238);
    width: max-content;
}

.main .section4 .img_sec img {
    height: 300px;
    width: 300px;
}

.text_section {
    margin-top: 10px;
    margin-left: 10px;
}

#box4 {
    border: 2px solid rgb(238, 238, 238);
    background-color: rgb(238, 238, 238);
    width: max-content;
}